merged_dbs = [
  {'db': 'db1'},
  # {'db': 'db2'},
  # {'db': 'db2', 'host': 'yourhost.com', 'user': 'user'},
  # ...
]

destination_db = {
  'db': 'db_new'
  'host': 'yourhost.com',
  'user': 'user',
}

information_schema = {
  'db': 'information_schema'
}

common_data = {
  'host': '127.0.0.1',
  'user': 'root',
  'password': ''
}

verbose = True
